# OS files, compiled source, and tests:
.DS_Store
*.pyc
test.py

# Data created in the process that's unimportant to the process itself:
*.csv
*.txt
snippet_files/

# Stanford CoreNLP software (too big for GitHub; note made in README.md of this)
phase_2/stanford-corenlp-full-2014-06-16/
